{% extends "Blog/ac_base.html" %}
{% load static %}

{% block title_tag %}
   Password has been changed
{% endblock %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
  <div class="container mt-4 p-5 bg-primary text-black rounded opacity-5">
    <h1 class="display-4">Password has been changed</h1>
    <p class="lead text-white" >You may go ahead and login now.</p>
    <div class="fxt-transformY-50 fxt-transition-delay-8">
        <p><a href="{% url 'login' %}" class="switcher-text2 inline-text">Log in</a></p>
    </div>
  </div>
</div>



{% endblock %}


