{% extends "Blog/ac_base.html" %}
{% load static %}

{% block title_tag %}
   Reset your password
{% endblock %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
  <div class="container mt-4 p-5 bg-primary text-black rounded opacity-5">
    <h1 class="display-4">Reset your password</h1>
    <p class="lead text-white" >I have mailed you instructions for resetting your password.</p>
    <p class="lead text-white">If you didn't receive it verify you entered the correct email and / or check your spam folder.</p>
  </div>
</div>



{% endblock %}
